# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
venv/
ENV/
env/
.venv/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Databases / временные файлы
*.db
*.sqlite3
*.sqlite
*.sql
*.dump
*.backup

# IDE / редакторы
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
desktop.ini

# Logs и кэш
*.log
*.logs
*.cache

# Render / Docker
.render/
Dockerfile
docker-compose.yml
docker-compose.override.yml

# Дополнительно
*.egg-info/
dist/
build/
*.egg
.coverage
coverage.xml
htmlcov/
pytest.ini
